.soloBusinessCardContainer,
.businessFooter,
.businessBtnContainer,
.soloBusinessCardInnerContainer .infoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.soloBusinessCardContainer {
  flex-direction: column;
  padding: 1rem;
  font-family: Inter, sans-serif;
  color: #dcdcdc;
  background-color: #23252c;
}

.soloBusinessCardInnerContainer {
  max-width: 95vw;
  background-color: #1a1b21;
  border-radius: 0.7rem;
  box-shadow: 0.0625rem 0.0625rem 0.5rem rgba(0, 0, 0, 0.25);
}

.soloBusinessCardInnerContainer section {
  padding: 0 2.5rem 2rem;
}

.soloBusinessCardInnerContainer p {
  max-width: 18rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.soloBusinessCardInnerContainer h2 {
  padding-bottom: 0.5rem;
  font-size: 1.3rem;
  font-weight: bold;
}

.businessFooter {
  gap: 1.6rem;
  padding: 1.5rem;
  background: #161619;
  border-radius: 0 0 0.7rem 0.7rem;
}

.businessBtnContainer {
  gap: 1rem;
  padding-bottom: 2rem;
}

.soloBusinessCardInnerContainer .infoContainer {
  flex-direction: column;
  gap: 1rem;
  padding: 0;
  text-align: center;
}

.infoContainer .mainImg {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: 0.7rem 0.7rem 0 0;
}

.infoContainer h1 {
  font-size: 1.5rem;
}

.infoContainer h2 {
  display: inline-block;
  font-size: 0.8125rem;
  color: #f3bf99;
}

.infoContainer .linkBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  min-width: 7rem;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: #374151;
  text-decoration: none;
  background-color: white;
  border-radius: 0.375rem;
}

.infoContainer .linkBtn.accent {
  color: white;
  background-color: #1a5aa2;
}
